{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Pokédex{% endblock %}</title>
  <link href="{% static 'vendor/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
